---
---

@font-face {
    font-family: 'weblysleek_uilight';
    src: url('../fonts/weblysleekuil.woff') format('woff'),
         url('../fonts/weblysleekuil.ttf') format('truetype');
}

.browsehappy {
    margin: 0;
    padding: 1vh;
    background: #fff;
    color: #000;
}

html, body {
	overflow: hidden;
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
    background-image: url('../images/high-768.jpg');
}

@media all and (min-width: 1024px) and (max-width: 1920px) {
    body {
    	background: url('../images/high-1080.jpg');
    }
}
@media all and (min-width: 1920px) and (max-width: 2560px) {
    body {
    	background: url('../images/high-1440.jpg');
    }
}
@media all and (min-width: 2560px) {
    body {
    	background: url('../images/lossless-max.png');
    }
}

body {
	margin: auto;
    width: 100vw;
    font-family: "weblysleek_uilight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
	background-repeat: no-repeat;
    background-color: #fff;
    background-size: auto 100vh;
    background-position: center;
}

nav {
	position: absolute;
	top: 24vh;
	max-width: 75vw;
	h1 { 
		margin: 0;
		font-size: 6vh;
		font-weight: normal;
		color: #2e4117;
		line-height: 9vh;
		cursor: default;
		span {
			display: inline-block;
			background-color: #fff;
			padding-left: 1.5vh;
			padding-right: 1.5vh;
			&:first-child {
				margin-right: -3.2vh;
			}
		}
	}
	ul {
		list-style: none;
		padding-left: 5vh;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	a {
		padding: 0 1.5vh 0 1.5vh;
		font-size: 4.5vh;
		color: #fff;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
		transition: background-color .25s ease;
		-webkit-transition: background-color .25s ease;
		&:hover, &:focus {
			outline: 0;
			background-color: rgba(255, 255, 255, 0.1);
		}
		&:active {
			transition: background-color .5s ease;
			-webkit-transition: background-color .5s ease;
			background-color: rgba(255, 255, 255, 0);	
		}
	}
}
